@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded border-solid border p-2 h-[35px] border-slate-200 focus:outline-slate-400;
  }
  .btn-alert {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
  }
  .btn-success {
    @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg  dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }
  .btn-light {
    @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
  }
  .btn-purple {
    @apply focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg  dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900;
  }
  .btn-gradient-blue {
    @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg  text-center;
  }
  .btn-primary-outline {
    @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-center  dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800;
  }
  .btn-purple-outline {
    @apply text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg  text-center dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900;
  }
  .carousel-active {
    @apply relative font-extrabold scale-[115%];
  }
  .deep-black {
    @apply bg-gradient-to-r from-slate-700 via-slate-800 to-slate-800;
  }
  .glowing-bg {
    @apply relative before:absolute before:w-full before:h-full before:-z-10 before:bg-gradient-to-r before:from-[#782fff] before:to-[#d489ff] before:left-0 before:top-0 before:blur-[5px];
  }
  .frost {
    @apply bg-gradient-to-r from-blue-900 to-cyan-500;
  }
  .deep-blue {
    @apply bg-gradient-to-r from-violet-900 via-fuchsia-900 to-fuchsia-900;
  }
  .blue-coral {
    @apply bg-gradient-to-r from-blue-400 to-emerald-400;
  }
  .big-sur {
    @apply bg-gradient-to-tr bg-gradient-to-tr from-violet-500 to-orange-300;
  }
  .gradient-purple {
    @apply bg-gradient-to-r from-blue-600 to-violet-600 text-white first:fill-white;
  }
  .frost-text {
    @apply bg-gradient-to-r from-blue-800 to-indigo-900 bg-clip-text text-transparent;
  }
  .indigo-violet {
    @apply bg-gradient-to-r from-blue-500 to-violet-500 text-white;
  }
  .gradient-violet {
    @apply bg-gradient-to-r from-purple-200 to-purple-400;
  }
  .gradient-orange {
    @apply bg-gradient-to-r from-yellow-200 to-amber-500;
  }
  .purple-text {
    @apply bg-gradient-to-r from-purple-500 to-purple-900 bg-clip-text text-transparent;
  }
  .blue-text {
    @apply bg-gradient-to-r from-blue-600 to-violet-600 bg-clip-text text-transparent;
  }
  .red-text {
    @apply bg-gradient-to-r from-amber-500 to-pink-500 bg-clip-text text-transparent;
  }
  .green-text {
    @apply bg-gradient-to-r from-emerald-500 to-emerald-900 bg-clip-text text-transparent;
  }
  .white-gradient-text {
    @apply bg-gradient-to-r from-slate-50 to-slate-300 bg-clip-text text-transparent tracking-wider;
  }
  .light-blue-gradient-text {
    @apply bg-gradient-to-r from-zinc-50 to-indigo-100 bg-clip-text text-transparent tracking-wider;
  }
  .expand-info::after {
    @apply content-[''] absolute bottom-1 left-[10%] block w-0 h-[3px] transition-[width] duration-[0.3s] bg-white;
  }
  .expand-info:hover::after {
    @apply w-[80%];
  }
}
.bg-clip-text {
  -webkit-background-clip: text;
}
.carousel-active::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%; /* Adjust the position of the pseudo-element */
  transform: translateX(-50%); /* Center the pseudo-element horizontally */
  width: 80%; /* Set the width of the border */
  height: 3px; /* Set the height of the border */
  background-color: #33218d; /* Set the color of the border */
  border-radius: 5px; /* Set the border radius for the pseudo-element */
}

.endless-river {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shore {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  overflow: visible;
  position: relative;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.imgbox {
  position: absolute;
  inset: 4px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.img {
  background: #4158d0;
  background-image: linear-gradient(45deg, #4158d0, #c850c0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Text*/
.title {
  font-weight: 600;
  font-size: 20px;
  color: #777;
}

.caption {
  font-weight: 500;
  font-size: 16px;
  color: #4158d0;
  display: block;
  margin-top: 5px;
}

/*Hover*/
.card:hover .imgbox {
  bottom: 80px;
}

.card:hover:before {
  transform: rotate(20deg);
}

.card:hover:after {
  transform: rotate(5deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

/*Project list*/

.article-wrapper {
  width: 400px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  border-color: #0578c5;
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}

.article-wrapper:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
  /* class tailwind */
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a6c2f0;
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5 px;
}

.project-title {
  font-size: 2em;
  margin: 0;
  font-weight: 600;
  /* depend de la font */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px;
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-project {
  width: 100%;
  height: 170px;
  background: gray;
}

/* Hover container */
/*works janky on mobile :<*/
.box-container {
  position: relative;
  width: 400px;
  height: 200px;
  transition: 200ms;
  max-width: 80vw;
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(5deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-5deg) rotateY(5deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.box-hover {
  position: relative;
  width: 100%;

  transition: 200ms;
}

#box-hover-card {
  perspective: 200px;
  position: relative;
  min-height: 100%;
  height: max-content;
  inset: 0;
  z-index: 0;
  display: flex;

  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(
    43deg,
    rgba(201, 119, 255, 0.5) 0%,
    rgb(119, 34, 255, 0.5) 46%,
    rgb(66, 63, 226, 0.5) 100%
  );
}

#box-hover-card::before {
  content: "";
  background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}
.tracker:hover ~ #box-hover-card {
  transition: 300ms;
  filter: brightness(1.1);
}

.box-hover:hover #box-hover-card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.box-hover:hover #box-hover-card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.box-hover-canvas {
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}
.box-hover-card-tr-1 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(-7deg) rotateZ(0deg);
}

.box-hover-card-tr-2 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(-5deg) rotateZ(0deg);
}

.box-hover-card-tr-3 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(0deg) rotateZ(0deg);
}

.box-hover-card-tr-4 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg);
}

.box-hover-card-tr-5 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(7deg) rotateZ(0deg);
}

.box-hover-card-tr-6 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(-7deg) rotateZ(0deg);
}

.box-hover-card-tr-7 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(-5deg) rotateZ(0deg);
}

.box-hover-card-tr-8 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(0deg) rotateZ(0deg);
}

.box-hover-card-tr-9 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg);
}

.box-hover-card-tr-10 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(5deg) rotateY(7deg) rotateZ(0deg);
}
.box-hover-card-tr-11 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(0deg) rotateY(-7deg) rotateZ(0deg);
}

.box-hover-card-tr-12 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.box-hover-card-tr-13 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.box-hover-card-tr-14 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.box-hover-card-tr-15 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(0deg) rotateY(7deg) rotateZ(0deg);
}

.box-hover-card-tr-16 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(-7deg) rotateZ(0deg);
}

.box-hover-card-tr-17 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
}

.box-hover-card-tr-18 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(0deg) rotateZ(0deg);
}

.box-hover-card-tr-19 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(5deg) rotateZ(0deg);
}

.box-hover-card-tr-20 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(7deg) rotateZ(0deg);
}

.box-hover-card-tr-21 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(-7deg) rotateZ(0deg);
}

.box-hover-card-tr-22 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
}

.box-hover-card-tr-23 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(0deg) rotateZ(0deg);
}

.box-hover-card-tr-24 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(5deg) rotateZ(0deg);
}

.box-hover-card-tr-25 {
  transition: 125ms ease-in-out !important;
  transform: rotateX(-5deg) rotateY(7deg) rotateZ(0deg);
}

/* ff */
#card {
  position: absolute;
  min-height: 100%;
  height: max-content;
  inset: 0;
  z-index: 0;
  display: flex;

  border-radius: 20px;
  transition: 700ms;
  /* background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  ); */
}

#card::before {
  content: "";
  /* background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  ); */
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}
.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.box-container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;

  height: 100%;
  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
