@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded border-solid border p-2 h-[35px] border-slate-200 focus:outline-slate-400;
  }
  .btn-alert {
    @apply !bg-red-300 !border-red-400 hover:!bg-red-200;
  }
  .btn-success {
    @apply !bg-green-300 !border-green-400 hover:!bg-green-200;
  }
  .carousel-active {
    @apply relative font-extrabold scale-[115%];
  }
  .frost {
    @apply bg-gradient-to-r from-blue-900 to-cyan-500;
  }
  .gradient-purple {
    @apply bg-gradient-to-r from-blue-600 to-violet-600 text-white first:fill-white;
  }
  .frost-text {
    @apply bg-gradient-to-r from-blue-800 to-indigo-900 bg-clip-text text-transparent;
  }
  .indigo-violet {
    @apply bg-gradient-to-r from-blue-500 to-violet-500 text-white;
  }
  .gradient-violet {
    @apply bg-gradient-to-r from-purple-200 to-purple-400;
  }
  .gradient-orange {
    @apply bg-gradient-to-r from-yellow-200 to-amber-500;
  }
  .purple-text {
    @apply bg-gradient-to-r from-purple-500 to-purple-900 bg-clip-text text-transparent;
  }
  .blue-text {
    @apply bg-gradient-to-r from-blue-600 to-violet-600 bg-clip-text text-transparent;
  }
  .red-text {
    @apply bg-gradient-to-r from-amber-500 to-pink-500 bg-clip-text text-transparent;
  }
  .green-text {
    @apply bg-gradient-to-r from-emerald-500 to-emerald-900 bg-clip-text text-transparent;
  }
  .white-gradient-text {
    @apply bg-gradient-to-r from-slate-50 to-slate-300 bg-clip-text text-transparent tracking-wider;
  }
  .light-blue-gradient-text {
    @apply bg-gradient-to-r from-zinc-50 to-indigo-100 bg-clip-text text-transparent tracking-wider;
  }
}
.bg-clip-text {
  -webkit-background-clip: text;
}
.carousel-active::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%; /* Adjust the position of the pseudo-element */
  transform: translateX(-50%); /* Center the pseudo-element horizontally */
  width: 80%; /* Set the width of the border */
  height: 3px; /* Set the height of the border */
  background-color: #33218d; /* Set the color of the border */
  border-radius: 5px; /* Set the border radius for the pseudo-element */
}

.endless-river {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shore {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
